{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'Applitodolist/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'Applitodolist/bootstrap/css/bootstrap.min.css' %}">
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        {{ form}}
        
        <input type="submit" value="Valider">
    </form>
    
</body>
</html>