{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'Applitodolist/css/style_task.css' %}">
    <link rel="stylesheet" href="{% static 'Applitodolist/bootstrap/css/bootstrap.min.css' %}">
    <title>Task</title>
</head>
<body>
    <section class="section">
        <h1 class="text-center">Create a Task</h1>

        <div class="custom">
            <form method="post">
                {% csrf_token %}

                <p class="title">TITILE</p>
                <input type="text" name="title" placeholder="eg:Go to the doctor" label = " " id="id_title" required><br>

                <p class="title">DESCRIPTION</p>
                <textarea name="description" id="id_description" cols="30" rows="10" required></textarea><br>

                <p class="title">FINISH DATE</p>
                <input type="date" name="finish_date" placeholder="finish_date" label = " " id="id_finish_date" required ><br>

                <p class="title">PRIORITY</p>
                <select name="priority" id="id_priority" required>
                    <option value="low">Low</option>
                    <option value="medium">Medium</option>
                    <option value="high">high</option>
                </select> <br>

                <input class="submit" type="submit" value="Add">
            </form>
        
        </div>
        
    </section>

</body>
</html>