.register{
    text-align: center;
    position: relative;
    margin: 30px;
}

.custom-formr{
    
        position: relative;
        display: inline-block;
        /*left: 400px;*/
        background-color: #ffffff;
        padding: 50px;
        margin-left: 490px;
        margin-top: 30px;
        /*top: 150px;*/
        /*width: 600px;
        height: 320px;*/
        border-radius: 20px;
        box-shadow: 5px 10px 30px rgb(168, 167, 167);
    
    }



.helptext{
    color: rgb(255, 0, 0);
    position: relative;
    left: 580px;
    display: none;
    
}



#id_username{
    border-radius: 10px;
    border-style: double;
    position: relative;
    width: 300px;
    color: black;
    padding:    15px;

    
}

#id_password1{
    border-radius: 10px;
    border-style: double;
    position: relative;
    width: 300px;
    margin-top: 30px;
    padding: 15px;
    
}
#id_password2{
    border-radius: 10px;
    border-style: double;
    position: relative;
    width: 300px;
    margin-top: 30px;
    padding: 15px;
    
}

.submit{
    position: relative;
    left: 80px;
    background-color: #031d2c;
    padding: 10px;
    height: 50px;
    /*width: 100px;*/
    border-radius: 5px;
    border-color: #031d2c;
    margin-top: 30px;
    color: rgb(255, 255, 255);
}