{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'accounts/css/style_register.css' %}">
    <link rel="stylesheet" href="{% static 'accounts/bootstrap/css/bootstrap.min.css' %}">
    <title>Document</title>
</head>
<body>
    <h1 class="register">Register</h1>

    <div class="custom-formr">
        <form method="post">
            {%  csrf_token %}
            <div>
                <input type="text" name="username" placeholder="Username" id="id_username" required >{% for error in form.username.errors %}
                    <p> {{ error }} </p>
                {% endfor %}
            </div>
            <div>
                <input type="password" name="password1" placeholder="Password" id="id_password1" required >
                {% for error in form.password1.errors %}
                <p> {{ error }} </p>
                {% endfor %}

            </div>
            <div>
                <input type="password" name="password2" placeholder="Confirm the password" id="id_password2" required >
                {% for error in form.password2.errors %}
                <p> {{ error }} </p>
                {% endfor %}

            </div>
            <input class="submit" type="submit" value="Create account">
        </form>
    </div>
</body>
</html>