body{
    
    margin: 0px;
}

.custom-h1{
    font-size: 50px;
    color: #031d2c;
    margin-top: 30px;
}
.conte{
    text-align: center;
}
#name{
    border-radius: 50px;
    border-width: 2px;
    border-color: #ee3a56;
    color: white;
    width: 300px;
    height: 50px;
    background-color: #5c5a5a49;
    padding: 10px;

}

.name{
    font-size: 50px;
}

#password{
    border-radius: 50px;
    border-width: 2px;
    border-color: #ee3a56;
    color: white;
    width: 300px;
    height: 50px;
    background-color: #5c5a5a49;
    padding: 10px;
}

#submit{
    padding: 10px;
    width: 300px;
    color: white;
    background-color: #ee3a56;
    border-radius: 10px;
    border-color: #ee3a56;
}

#submit a {
    text-decoration: none;
}

.containery{
    background-color: #1c1e33;
    padding: 60px;
    width: 50%;
    height: 50%;
    position: relative;
    left: 25%;
    top: 50px;
    border-radius: 30px;
    box-shadow: 5px 10px 30px rgb(168, 167, 167);
    
}